body{
   background-image: url("www/music-photo.jgp");
   background-color: #ff4040;
}


.well{
  background-color: #f5f5f540;
      border-radius: 0px;
    
}


.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar{
  background: grey;
  background: white;

}

/* change color of number tags on slider */
.irs-from, .irs-to, .irs-single { 
  background: white;
  color:black;
}